.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid peachpuff;
    &__logo {
        text-decoration: none;
        color: 	#FF9900;
    } 
    &__adding-link {
        background-color: #FF9900;
        padding: 12px 24px;
        border-radius: 8px;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #e98d04;
        }
        &:active {
            background-color: #FF9900;
        }
    }
}